extends layout

block content
  div.nav-link.text-overlay
    a(href="/") home
  div.about
    h3 About
    p
      | In 2005, 
      a(href="http://number27.org") Jonathan Harris
      |  and 
      a(href="http://www.stanford.edu/~sdkamvar/") Sep Kamvar
      |  created 
      a(href='http://wefeelfine.org') We Feel Fine
      | , a project that searched blogs for mentions of 
      | feelings and visualized them in a Java applet written in Processing. 
      | Their complete 
      a(href='http://wefeelfine.org/methodology.html') methodology
      |  is still available online.
    p
      | I thought it would be fun to update the project for 
      | 2013 by using the 
      a(href="https://dev.twitter.com/docs/streaming-apis") Twitter Streaming API
      | , 
      a(href="http://nodejs.org/") Node.js
      | , and 
      a(href="http://d3js.org") D3.js
      | . I've followed We Feel Fine's original methodology pretty closely. 
      | Check out the 
      a(href="https://github.com/lauren/we-still-feel-fine") source on GitHub
      |  or just read this summary of my methodology:
    ul
      li 
        | I'm listening to the Twitter Streaming API for tweets that contain
        | the feeling indicators: "feel," "feeling," or "felt." The inclusion
        | of the past tense is a divegence from We Feel Fine's methods.
      li
        | When a new Tweet comes in with a feeling indicator word, I create
        |  a string of eligible words that starts two words before
        | the feeling indicator and ends five words after it. This is a 
        | departure from We Feel Fine, which looked for eligible feelings 
        | in the entire sentence in which the feeling indicator was detected.
        | Limiting eligible words to those closer to the
        | feeling indicator seems to provide higher-quality feelings.
      li
        | I search the string of eligible words for any word in 
        a(href="http://wefeelfine.org/data/files/feelings.txt") the list of valid feelings
        |  that We Feel Fine compiled.
      li
        | If a valid feeling is found in the eligible words selection, 
        | the source Tweet is sent to the browser, which draws a circle 
        | representing the feeling tweet in the color that the original We Feel Fine
        | project used for that feeling. Sad feelings are blue or gray, happy feelings are
        | yellow or orange, loved feelings are pink, and angry feelings are red.