extends layout

block content
  h2#tweet-detail.tweet-detail.text-overlay
  svg
  footer.text-overlay
    | &copy; 2013 
    a(href="http://laurensperber.com") Lauren Sperber
    |  | An update to the unforgettable 
    a(href="http://wefeelfine.org") We Feel Fine
    |  by 
    a(href="http://number27.org") Jonathan Harris
    |  and 
    a(href="http://www.stanford.edu/~sdkamvar/") Sep Kamvar
    | .