doctype 5
html
  head
    title We Still Feel Fine
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible", content="IE=10")
    link(rel="stylesheet", href="/css/we-still-feel-fine.css")
  body
    h1 
      a(href="/") We Still Feel Fine
    block content
  script(src="/socket.io/socket.io.js")
  script(src="/js/we-still-feel-fine.min.js")
  script(src="http://d3js.org/d3.v3.min.js")