doctype 5
html
  head
    title We Still Feel Fine
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible", content="IE=10")
    link(rel="stylesheet", href="/css/we-still-feel-fine.css")
    link(rel="icon", href="/favicon.ico")
  body
    h1.text-overlay
      a(href="/") We Still Feel Fine
    block content
  script(src="/socket.io/socket.io.js")
  script(src="/client-src/js/we-still-feel-fine.js")
  script(src="/js/d3.v3.min.js")