@import url(http://reset5.googlecode.com/hg/reset.min.css);
.text-overlay{background:#fff;font-weight:lighter}
body,html{height:100%;width:100%;font-family:"HelveticaNeue-UltraLight","Helvetica Neue UltraLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;-webkit-transition:border-color .5s ease-in-out;-moz-transition:border-color .5s ease-in-out;-o-transition:border-color .5s ease-in-out;transition:border-color .5s ease-in-out}body a,html a,body a:visited,html a:visited{color:#333;text-decoration:none;font-weight:bold;border-bottom:2px dashed transparent}
body a:hover,html a:hover{text-decoration:none;color:#333;border-bottom:2px dashed #333;-webkit-transition:border-color .5s ease-in-out;-moz-transition:border-color .5s ease-in-out;-o-transition:border-color .5s ease-in-out;transition:border-color .5s ease-in-out}
svg{width:100%;height:100%}
h1{opacity:0.9;font-size:40px;padding:15px;margin:0px;position:absolute}h1 a,h1 a:hover,h1 a:visited{font-weight:lighter}
h3{font-weight:lighter;font-size:30px;margin-bottom:15px}
p{margin-bottom:10px}
ul{padding-left:30px}
li{margin-bottom:5px}
.circle{cursor:pointer;opacity:0.9}
.shadow{cursor:pointer;stroke:#000;opacity:0.4;stroke-width:3px;letter-spacing:2px}
.label{cursor:pointer;stroke:#fff;letter-spacing:2px}
#selected .label,#selected .shadow{font-size:28px}
.tweet-detail{bottom:50px;display:none;font-size:30px;padding:15px;width:100%;opacity:0.9;position:fixed;-webkit-box-shadow:0 0 10px 1px #333;-moz-box-shadow:0 0 10px 1px #333;-o-box-shadow:0 0 10px 1px #333;box-shadow:0 0 10px 1px #333}
.user-image{margin-right:10px;margin-top:4px;max-width:50px;max-height:50px;float:left}
.tweet{width:90%}
.tweet-link{font-size:14px;vertical-align:middle}
footer{padding:5px;bottom:0px;position:fixed;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;opacity:0.9}
.github-widgets,.twitter-share-button{vertical-align:bottom}
.loading{position:absolute;text-align:center;top:45%;left:0;right:0;margin:auto}
.heart-load{display:inline-block;height:30px;width:30px;background-image:url("/images/heart-loader.gif");vertical-align:middle}
.load-text{vertical-align:middle;font-family:"HelveticaNeue-UltraLight","Helvetica Neue UltraLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;font-size:26px;margin-left:5px}
.nav-link{position:absolute;right:0;padding:5px 10px 10px 10px;font-size:22px;opacity:0.9}.nav-link a{font-weight:lighter}
.about{padding:80px 20px 90px 20px;font-size:22px;line-height:28px;margin-bottom:20px;max-width:700px}
@media screen and (max-width:797px){h1{font-size:30px;padding:10px} .tweet-detail{font-size:20px;bottom:80px;padding:10px} .load-text{font-size:18px}}
