files:
  "/tmp/00_elastic_beanstalk_proxy.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      upstream nodejs {
        server 127.0.0.1:8081;
        keepalive 256;
      }

      server {
        listen 8080;
        location / {
          proxy_pass  http://nodejs;
          proxy_set_header   Connection "";
          proxy_http_version 1.1;
          proxy_set_header        Host            $host;
          proxy_set_header        X-Real-IP       $remote_addr;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header        Upgrade         $http_upgrade;
          proxy_set_header        Connection      "upgrade";
        }
      }
  "/tmp/nginx.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      user  nginx;
      worker_processes  1;
      error_log  /var/log/nginx/error.log warn;
      pid        /var/run/nginx.pid;
      events {
          worker_connections  1024;
      }
      http {
        include /etc/nginx/conf.d/*.conf;
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';
        access_log  /var/log/nginx/access.log  main;
        sendfile        on;
        #tcp_nopush     on;
        keepalive_timeout  65;
        #gzip  on;
      }
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01update-config.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      mv /tmp/nginx.conf /etc/nginx/
      mv /tmp/00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/

commands:
  00-remove_old_nginx:
    command: "yum -y remove nginx"
  10-install_new_nginx:
    command: "rpm -ivvh http://nginx.org/packages/rhel/6/x86_64/RPMS/nginx-1.4.2-1.el6.ngx.x86_64.rpm"